@{
    ViewData["Title"] = "Confirmación de Email";
}

<h2>@ViewData["Title"]</h2>
<div>
    <p><strong>Thank you for confirming your account. You can now enter the system.</strong></p>
    <p>If you have not assigned a Password, your Actual Password is: 123456, remember to change it to a more secure and easy to remember one for you.</p>
</div>
